$font-stack: "Open Sans", sans-serif;

// veiwport breakpoint
// phone: 480px
// tablet: 768px
// web: 1200px

//font size
$hero1-font-size-phone: 48px;
$hero1-font-size-tab: 68px;
$hero1-font-size-web: 72px;
$hero2-font-size-phone: 38px;
$hero2-font-size-tab: 58px;
$hero2-font-size-web: 64px;

$title-font-size-phone: 26px;
$title-font-size-tab: 36px;
$title-font-size-web: 48px;

$header-font-size-phone: 24px;
$header-font-size-tab: 32px;
$header-font-size-web: 40px;

$tag-font-size-phone: 1.2rem;
$tag-font-size-tab: 1.3rem;
$tag-font-size-web: 1.4rem;

$content-font-size-phone: 1rem;
$content-font-size-tab: 1.1rem;
$content-font-size-web: 1.2rem;

$btn-font-size-phone: 1rem;
$btn-font-size-tab: 1.1rem;
$btn-font-size-web: 1.2rem;

//font weight
$regular:400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

//letter spacing
$letter-spacing: 1px;