
//--breakpoints--//
$breakpoints: (
	small:	480px,
	medium: 640px,
	large: 	820px
);

//---container width---//
$container--width-boxed: 		1440px;		// boxed container width
$container--width: 				1080px;		// container width
$container--width-sm:			896px;		// container sm width
$container--width-xs: 			620px;		// container xs width
$container--padding__mobile:	16px;		// container, left and right padding (mobile)
$container--padding__desktop:	24px;		// container, left and right padding (desktop)