.carousel-container {
  .animate {
    animation: fadein 3s;
    
  }
  align-items: center;
  margin: 2rem 5rem 2rem 0;
  padding: 2rem 5rem 4rem 0;
  @media screen and (max-width: 1000px) {
    margin: 2rem auto;
    padding: 2rem;
  }
  
  @media screen and (max-width: map-get($breakpoints, medium)) {
    margin: 2rem auto;
    padding: 2rem;
  }
  .holder {
    padding:0 2rem 0 1rem;
    text-align: center;
    display: flexbox;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    @media screen and (max-width: 1000px) {
      padding:0 2rem;
    }
    
    @media screen and (max-width: map-get($breakpoints, medium)) {
      padding:0 1rem;
    }
    #left {
      padding-right: 2rem;
      cursor: pointer;
      
    }
    #right {
      padding-left: 2rem;
      cursor: pointer;
    }
    .title {
      font-size: 18px;
      letter-spacing: 1px;
      color: #613476;
      font-weight: 700;
      margin-bottom: 2rem;
      .name ,.date  {
        margin:.3rem;
        @media screen and (max-width: map-get($breakpoints, medium)) {
          display: block;
          
        }
      }
    }
    .content {
      text-align: left;
      font-size: $content-font-size-web;
      font-weight: 600;
      @media screen and (max-width: map-get($breakpoints, large)) {
        font-size: $content-font-size-tab;
      }
      @media screen and (max-width: map-get($breakpoints, medium)) {
        font-size: $content-font-size-phone;
        
      }
      
    }
  }
  .arrow {
    margin: auto 0;
   
  }
  .dots {
    font-size: 0.7em;
    margin-top: 1.5rem;
    i {
      padding: .2rem;
      color: #FFE465;
    }
    .active {
      color: #FFC718;
    }
  }
}