$palette: (
  primary: (
    1:#ac5fd0,
    2:#BA67E0,
    3:#613476
  ),
  secondary: (
    1:#FF7218,
    2:#FF7C2B
  ),
  light: (
    1: #ffffff,
    2: #FAFAFA
  ),
  dark: (
    1: #000000
  )
)