.nav {
  
  position: absolute;
  z-index: 99;
  width: 100%;
  padding-top: 2rem;
  padding-left: 8rem;
  @media screen and (max-width: map-get($breakpoints, large)) {
    padding-top: 1.5rem;
    padding-left: 4rem;
  }
  @media screen and (max-width: map-get($breakpoints, medium)) {
    padding-top: 1.5rem;
    padding-left: 4rem;
  }
  .nav-logo {
    float: left;
    @media screen and (max-width: map-get($breakpoints, large)) {
      width:260px;
    }
    @media screen and (max-width: map-get($breakpoints, medium)) {
      width:200px;
    }
  }
}
