@import "widths-and-spacing";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Open+Sans:wght@300;400;600;700;800&display=swap");

* {
  -webkit-font-smoothing: antialiased;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}
//Nav
@import './nav.scss';
@import './sections/hero.scss';

//button

.sec-btn {
  color: #fff;
  border-color: #FF7218;
  background-color: #FF7218;
  padding: 1.5rem;
  letter-spacing: 1px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  &:hover {
    background-color: #FF7218;
    color: #fff;
    border-color: #FF7218;
  }
}

@import './sections/section1.scss';

@import './sections/section2.scss';

@import './sections/section3.scss';
 
@import './sections/section4.scss';

@import './sections/section5.scss';

@import './sections/footer.scss';

@import './carousel.scss';