@import "widths-and-spacing";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import './typography';
@import './color.scss';

* {
  -webkit-font-smoothing: antialiased;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  font-family:$font-stack;
  box-sizing: border-box;
}
//Nav
@import './nav.scss';
@import './sections/hero.scss';

//button

.sec-btn {
  color: #fff;
  border-color: map-get(map-get($palette, secondary),1);
  background-color: map-get(map-get($palette, secondary),1);
  padding: 1.5rem;
  letter-spacing: 1px;
  font-size:$btn-font-size-web;
  text-transform: uppercase;
  font-weight: $semi-bold;
  &:hover {
    background-color: map-get(map-get($palette, secondary),2);
    color: map-get(map-get($palette, light),1);
    border-color: map-get(map-get($palette, secondary),2);
  }
  @media screen and (max-width: map-get($breakpoints, large)) {
    font-size:$btn-font-size-tab;
    padding: 1rem;
  }
  @media screen and (max-width: map-get($breakpoints, medium)) {
    font-size:$btn-font-size-phone;
    padding: 0.8rem;
  }
}

@import './sections/section1.scss';

@import './sections/section2.scss';

@import './sections/section3.scss';
 
@import './sections/section4.scss';

@import './sections/section5.scss';

@import './sections/footer.scss';

@import './carousel.scss';