.section3-container {
  align-items: center;
  .sec-info {
    margin: 3rem 2rem 3rem 6rem;
    padding: 3.5rem 2rem 3rem 6rem;
    max-height: 526px;
    @media screen and (max-width: 1200px) {
      margin: auto 1rem auto 4rem;
      padding: 6rem 1rem 1rem 3rem;
    }
    @media screen and (max-width: map-get($breakpoints, large)) {
      margin: 2rem 1.5rem 2rem 1.5rem;
      padding: 3rem 1rem 1rem 3rem;
    }
    @media screen and (max-width: map-get($breakpoints, medium)) {
      margin: auto 1.5rem 2rem 1.5rem;
      padding: 3rem 1rem 3rem 3rem;
    }
    .header {
      font-weight: $bold;
      color: #000;
      font-size: $header-font-size-web;
      line-height: 48px;
      letter-spacing: $letter-spacing;
      padding-bottom: 1rem;
      text-transform: uppercase;
      @media screen and (max-width: 1200px) {
        padding-bottom: .6rem;
        font-size: $header-font-size-tab;
      }
      @media screen and (max-width: map-get($breakpoints, large)) {
        font-size: $header-font-size-tab;
      }
      @media screen and (max-width: map-get($breakpoints, medium)) {
        font-size: $header-font-size-phone;
      }
    }
    .content {
      font-size: 1.2rem;
      padding-bottom: 1rem;
    }
    .action {
      color: map-get(map-get($palette,primary),3);
      font-size: $tag-font-size-web;
      font-weight: $bold;
      @media screen and (max-width: map-get($breakpoints, large)) {
        font-size: $tag-font-size-tab;
      }
      @media screen and (max-width: map-get($breakpoints, medium)) {
        font-size: $tag-font-size-phone;
      }
    }
  }
  .icons {
    min-height: 50%;
    text-align: center;
    padding: 2rem 0;
    @media screen and (max-width: map-get($breakpoints, medium)) {
      padding: 0;
    }
    .holder{
      @media screen and (max-width: map-get($breakpoints, medium)) {
       padding:1.5rem;
      }
      .icon {
        border-radius: 50%;
        border: 1px solid #AC5FD0;
        height:100px;
        width: 100px;
        background-position: center;
        background-repeat: no-repeat;
        background-size:70%;
        margin: 5px auto;
        margin-bottom: 1.2rem ;
        
      }
      .icon1{
        background-image: url("../../images/home-expertise.svg");
        background-size:60%;
        transition: transform 0.5s;
        &:hover {
          transform: rotate(10deg);
        }
      }
      .icon2{
        background-image: url("../../images/home-hygiene.svg");
        transition: transform 0.5s;
        &:hover {
          transform: rotate(10deg);
        }
      }
      .icon3{
        background-image: url("../../images/home-lab.svg");
        transition: transform 0.5s;
        &:hover {
          transform: rotate(10deg);
        }
      }
      .icon4{
        background-image: url("../../images/home-retention.svg");
        background-size:50%;
        transition: transform 0.5s;
        &:hover {
          transform: rotate(10deg);
        }
      }
      .icon-title{
        font-size: 22px;
        font-weight: $bold;
        line-height: 30px;
        text-transform: uppercase;
      
      }
    
    }
  }
  .sec-bg {
    background-color: #FAFAFA;
    height:100%;
    padding:8rem 4rem;
    @media screen and (max-width: map-get($breakpoints, large)) {
      padding:4rem 4rem;
    }
    @media screen and (max-width: map-get($breakpoints, medium)) {
      padding:4rem 4rem;
    }
  }
  
  

  
}